.hero-div::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
  }
  
  .storyp {
    margin-top: 10px;
    font-family: Open Sans;
    font-weight: 500;
    color: gray;
    font-size: 15px;
    line-height: 25px;
  }

  body {
    margin: 0;
    overflow-x: hidden;
  }
  
  #root {
    position: relative;
  }