*{margin:0;padding:0;font-family: Arial, Helvetica, sans-serif;font-weight:400;}

.AMC-hero-div::before{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
  }
  


 